*{
    
    width: auto;
    height: auto;
    font-family: 'Catamaran', sans-serif;
    
    
}

.body{
    
    background-image: url("../images/homepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
}
.cut-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    color: transparent;
    font-weight: 900;
    font-family: 'Catamaran', sans-serif;
    font-style: italic;
    font-size: 5.5rem;
    margin-top: 20vh;
}
.cut-text:after {
    position: relative;
    content: 'ScoreDei';
    margin-top: -9.1rem;
    
    color: #F4F4F4;
    -webkit-clip-path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
    clip-path: polygon(0 25%, 100% 65%, 100% 100%, 0% 100%);
}

.cut-text:before {
    position: absolute;
    content: 'ScoreDei';
    margin-left: 0.3rem;
    color: #F4F4F4;
    -webkit-clip-path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
    clip-path: polygon(0 0, 110% 0, 100% 65%, 0 25%);
}



.options{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 35vh;
}

.login, .register{
    margin: 0.8rem;
    
}

.guest{
    margin-top: 4rem;
}

.login button, .register button, .guest button{
    display: block;
    width: fit-content;
    background: none;
    border: none;
    font-size: 2rem;
    color: #F4F4F4;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.guest button{
    font-size: 1.5rem;
}