* {

    width: auto;
    height: auto;
    font-family: 'Catamaran', sans-serif;

}

.body {

    background-image: url("../images/homepage.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

@-webkit-keyframes autofill {
    0%,100% {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s; /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.login {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50vh;

}

.vid-container {
    position: relative;
    height: 90vh;
    overflow: hidden;
}

.bgvid.back {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
}

.inner {
    position: absolute;
}

.inner-container {
    width: 400px;
    height: 400px;
    position: absolute;
    top: calc(50vh - 200px);
    left: calc(50vw - 200px);
    overflow: hidden;
}

.bgvid.inner {
    top: calc(-50vh + 200px);
    left: calc(-50vw + 200px);
    filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
    -webkit-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}

.box {
    position: absolute;
    height: 100%;
    width: 100%;
    font-family: Helvetica;
    color: #F4F4F4;
    background: rgba(0, 0, 0, 0.13);
    padding: 30px 0px;
}

.box label {
    text-align: center;
    margin: 30px 35px;
    font-size: 30px;
}

.box input {
    display: block;
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background: rgba(0, 0, 0, 0.2);
    color: #F4F4F4;
    border: 0;
}

.box input:focus,
.box input:active,
.box button:focus,
.box button:active {
    outline: none;
}

.box button {
    background: #8A6B50;
    border: 0;
    color: #F4F4F4;
    padding: 10px;
    font-size: 20px;
    width: 330px;
    margin: 20px auto;
    display: block;
    cursor: pointer;
}

.box button:active {
    background: #27ae60;
}

.box p {
    font-size: 1rem;
    text-align: center;
}

.box img{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 21rem;
    max-width: 5%;

}

.box p span {
    cursor: pointer;
    color: #F4F4F4;
}

.box a{
    color: #F4F4F4;
}

button{
    border-radius: 1rem;
}